html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b1b;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

h1{
  text-align: center;
}

.project-github{
  display: grid;
  place-items: center;
}

.project-github p{
  font-weight: bold;
  font-size: 15px;
  color : white;
  margin-top: 20px;
}



button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  background-color: #50d950; /* Color verde claro */
  color: #1b1b1b; /* Color de texto oscuro para contrastar */
  border: none;
  border-radius: 4px; /* Borde redondeado suave */
  transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
}

button:hover {
  background-color: #3cb43c; /* Color verde más oscuro al pasar el mouse */
}
  p {
    font-weight: bold;
    font-size: 36px;
    color: green;
  }

  .div-message{
    display: grid;
    place-items: center;
  }

  .message{
    color:#50d950
  }

  